*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #1C1C1C;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  color: #1C1C1C !important;
}
h1,h2,h3,h4,h5,h6,p,span,ul{
  margin: 0;
  padding: 0;
}

/* ===== common css end ===== */


/* ===== header start ===== */
/* header top starrt */
#header_top{
  height: 50px;
  background-color:#EBF0F0;
}
#header_top p{
  line-height: 50px;
}
/* header top end */

/* main header start */
#header ul li a{
  font-size: 15px;
  font-weight: 500;
  margin: 0 18px;
}
#header .main_logo{
  font-size: 40px;
  color: #F76262 !important;
  font-weight: 700;
}  
#header .nav_icon a{
  margin: 0 5px;
  font-size: 25px;
}
/* main header end */
/* ===== header end ===== */

/* ===== banner start ===== */
#banner .cetagory i{
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}
#banner .cetagory{
  height: 55px;
  background-color:#4D77DD;
  color: white;
  font-size: 20px;
  line-height: 55px;
  font-weight: 500;
  padding: 0 18px;
}
#banner form{
  height: 55px;
}
#banner form button{
  background-color: #4D77DD;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#banner form button:hover{
  background-color: #F76262;
}
#banner a{
  font-size: 20px;
  font-weight: 500;
}

/* banner bg part  */
#banner .banner_serch_bar{
  margin-bottom: 12px;
}
#banner .banner_bg_part{
  margin-bottom: 52px;
}

#banner .banner_bg{
  background:url(../images/Banner.png)no-repeat center;
  background-size: cover;
  padding: 155px 40px;
  border-radius: 10px;
}
#banner .banner_bg h2{
  font-size: 26px;
  font-weight: 500;
  color: #F76262;
}
#banner .banner_bg h1{
  font-size: 44px;
  font-weight: 400;
  width: 315px;
  line-height: 60px;
  margin-bottom: 20px;
}
#banner .banner_bg p{
  font-size: 28px;
  font-weight:500;
  margin-bottom: 20px;
}
#banner .banner_bg span{
  color: #0036C0;
}
#banner .cus-btn{
  background-color: #F76262;
  color: #fff;
  font-weight: 600;
}
#banner .cus-btn:hover{
  background-color: #4D77DD;
}

/* banner feature */
#banner .best_features .item{
  position: relative;
  padding-left: 30px;
  }
  #banner .best_features .item img{
      position: absolute;
      left: 0;
      top: 2px;
      
  }
  #banner .best_features{
      padding: 25px 0;
      border-bottom: 1px solid #EBEBEB;
  }
  #banner .best_features h3{
    font-size: 22px;
    font-weight: 500;
  }
  
  #banner .best_features .item::before{
      content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #EBEBEB;
  }
  
  #banner .best_features .itemLast::before{
      display: none;
  }
/* ===== banner end ===== */
/* ===== google start ===== */
#google {
  margin-top: 50px;
}
#google .item_1{
  background:url(../images/Rectangle\ 13.png)no-repeat center;
  background-size: cover;
  padding: 77px 35px;
  border-radius: 10px;
}
.first{
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.seccond{
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 7px;
  margin-bottom: 30px;
}
.therd{
  font-size: 14px;
  line-height: 30px;
}
#google .item_2{
  background:url(../images/Group\ 60.png)no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 77px 35px;
}
/* ===== gooogle end ===== */


/* ===== Today’s Best Deals start ===== */

#best_deals{}
#best_deals h6{
  font-size: 26px;
  margin:80px 0 30px 0;
}
#best_deals .main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
#best_deals .main .item{
  width: 18.5%;
}
#best_deals .main .item img{
  width: 100%;
}
#best_deals .main .item i{
  color: #FFCD3C;
  font-size: 20px;
  margin-top: 28px;
}
#best_deals .main .item .marleft5{
  margin-left: 5px;
}

#best_deals .main .item p{
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0;
}
#best_deals .main .item h5{
  font-size: 17px;
  margin: 10px 0;
}
#best_deals .main .item h5 del{
  color: #8F8F8F;
}
#best_deals .main .item button{
  font-size: 14px;
  color: #EBEBEB;
  background-color: #F76262;
  padding: 9px 15px;
}
#best_deals .main .item button:hover{
  background-color: #4D77DD;
}

/* ===== Today’s Best Deals end ===== */
/* ===== apple start ===== */

#apple .item_1{
  background: url(../images/apple-1.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}
#apple .item_2{
  background: url(../images/apple-2.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}

/* ===== apple end ===== */

/* another strat  */
#another .item_1{
  background: url(../images/another-1.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}
#another .item_2{
  background: url(../images/another-2.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}
/* another end  */


/* brand start  */
/* brand end  */

/* reality start  */

#reality {
  margin: 80px 0;
}
#reality .item_1{
  background: url(../images/rality-1.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}
#reality .item_2{
  background: url(../images/reality-2.png) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px 35px;
}

/* reality end  */

/* search end social  start  */
#ss{
  background: url(../images/footer-bg.png) no-repeat center;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 55px;
}
#ss button{
  color: #fff;
  background-color: #4D77DD;
}
#ss ul li a i{
  color: #EBEBEB;
  font-size: 20px;
  line-height: 35px;
  margin: 0 3px;
}
#ss ul {
  margin-left: 40px;
}
/* search end social  end  */


/* Footer start */
#footer h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 35px;
}
#footer p i{
  margin-right: 10px;
  color: #4A4A4A;
}
#footer p {
  color: #4A4A4A;
}
#footer img {
  margin-bottom: 18px;
}
#footerbottom{
margin: 60px 0 22px 0;
}
#footerbottom p{
margin-left: 15px;
}
/* Footer end */